In [1]:
li = [1, 2, "abc", 3.4]

In [2]:
li

[1, 2, 'abc', 3.4]

In [3]:
li.append("abcd")

In [4]:
li

[1, 2, 'abc', 3.4, 'abcd']

In [5]:
li.insert(1, 7)

In [6]:
li

[1, 7, 2, 'abc', 3.4, 'abcd']

In [7]:
li.insert(6, "abcdee")

In [8]:
li

[1, 7, 2, 'abc', 3.4, 'abcd', 'abcdee']

In [9]:
li.insert(9, "a")

In [10]:
li

[1, 7, 2, 'abc', 3.4, 'abcd', 'abcdee', 'a']

In [11]:
li.append([9, 10, 11])

In [12]:
li

[1, 7, 2, 'abc', 3.4, 'abcd', 'abcdee', 'a', [9, 10, 11]]

In [13]:
li.extend([9, 10, 11])

In [14]:
li

[1, 7, 2, 'abc', 3.4, 'abcd', 'abcdee', 'a', [9, 10, 11], 9, 10, 11]

In [15]:
li.remove(2)

In [16]:
li

[1, 7, 'abc', 3.4, 'abcd', 'abcdee', 'a', [9, 10, 11], 9, 10, 11]

In [17]:
li.append(5)

In [18]:
li.append(5)

In [19]:
li

[1, 7, 'abc', 3.4, 'abcd', 'abcdee', 'a', [9, 10, 11], 9, 10, 11, 5, 5]

In [20]:
li.append(5)

In [21]:
li

[1, 7, 'abc', 3.4, 'abcd', 'abcdee', 'a', [9, 10, 11], 9, 10, 11, 5, 5, 5]

In [22]:
li.remove(5)

In [23]:
li.remove(6)

ValueError: list.remove(x): x not in list

In [24]:
li.pop()

5

In [25]:
li

[1, 7, 'abc', 3.4, 'abcd', 'abcdee', 'a', [9, 10, 11], 9, 10, 11, 5]

In [26]:
li.pop(2)

'abc'

In [27]:
li

[1, 7, 3.4, 'abcd', 'abcdee', 'a', [9, 10, 11], 9, 10, 11, 5]

In [28]:
li.pop(10)

5

In [29]:
li.pop(18)

IndexError: pop index out of range

In [30]:
li.pop(4)

'abcdee'

In [31]:
li

[1, 7, 3.4, 'abcd', 'a', [9, 10, 11], 9, 10, 11]

In [32]:
len(li)

9

In [33]:
li = [1, 2, "abcd", 9, 10, 11, "a"]

In [34]:
for i in range(len(li)):
    print(li[i])

1
2
abcd
9
10
11
a

In [35]:
for i in range(2, len(li)):
    print(li[i])

abcd
9
10
11
a

In [36]:
for ele in li:
    print(ele)

1
2
abcd
9
10
11
a

In [37]:
for ele in li[2:]:
    print(ele)

abcd
9
10
11
a

In [38]:
for ele in li[2:4]:
    print(ele)

abcd
9

In [39]:
li

[1, 2, 'abcd', 9, 10, 11, 'a']

In [40]:
li = [1, 2, 3, 4, 5]

In [41]:
li[1:5:1]

[2, 3, 4, 5]

In [42]:
li[1:3:1]

[2, 3]

In [43]:
li[1:5:2]

[2, 4]

In [44]:
li[1:]

[2, 3, 4, 5]

In [45]:
li

[1, 2, 3, 4, 5]

In [46]:
li[1::2]

[2, 4]

In [47]:
li[1::1]

[2, 3, 4, 5]

In [48]:
li[1:]

[2, 3, 4, 5]

In [49]:
li[1::2]

[2, 4]

In [50]:
li[:3]

[1, 2, 3]

In [51]:
li[-1:]

[5]

In [52]:
li[-3:-1]

[3, 4]

In [53]:
n = input()

5

In [54]:
n

'5'

In [55]:
n = int(input())

5

In [56]:
li = []
for i in range(n):
    curr = int(input())
    li.append(curr)

5
4
43
23
2

In [57]:
li

[5, 4, 43, 23, 2]

In [58]:
for ele in li:
    print(ele)

5
4
43
23
2

In [59]:
n = int(input())

2

In [60]:
str = input()

1 2 3 4 5

In [61]:
str

'1 2 3 4 5'

In [62]:
li = []

In [63]:
str_split = str.split(' ')

In [64]:
str_split

['1', '2', '3', '4', '5']

In [65]:
str = input()

1 2 3 4 5

In [66]:
str_split = str.split()

In [67]:
str_split

['1', '2', '3', '4', '5']

In [68]:
li = []

In [69]:
for ele in str_split:
    li.append(int(ele))

In [70]:
li

[1, 2, 3, 4, 5]

In [71]:
li = [int(x) for x in input().split()]

1 2 3 4 5

In [72]:
li

[1, 2, 3, 4, 5]

In [73]:
for ele in li:
    print(ele)

1
2
3
4
5

In [76]:
n = int(input())
li = [int(x) for x in input().split()]
for ele in li:
    print(ele)

5
1 2 3 4 5
1
2
3
4
5

In [77]:
n = int(input())

5

In [78]:
li = [int(x) for x in input().split()]

1 2 33 4 5 4 6

In [79]:
li

[1, 2, 33, 4, 5, 4, 6]

In [80]:
ele = int(input())

4

In [81]:
for i in range(len(li)):
    if li[i] == ele:
        print(i)
        break
else:
    print(-1)

3

In [82]:
def linear_search(li, ele):
    # li is the list and ele is the element to be search
    for i in range(len(li)):
        if li[i] == ele:
            return i
    return -1

In [83]:
li = [1, 2, 3, 4, 5]
index = linear_search(li, 2)

In [84]:
index

1

In [85]:
x = 3
a = 4

In [86]:
print(x)
print(a)

3
4

In [87]:
print(id(x))
print(id(a))

94421750340992
94421750341024

In [88]:
a = 3

In [89]:
print(id(a))

94421750340992

In [90]:
li = [1, 2, 3, 4]
li2 = li
li2[1] = 4
print(li)

[1, 4, 3, 4]

In [91]:
li = [1, 2, 3, 4]
li2 = [1, 2, 3, 4]

In [92]:
print(id(li))
print(id(li2))

140514756396672
140514757145728

In [93]:
li2 = li

In [101]:
print(id(li2))

140514755969792

In [102]:
li2 = [3, 3, 4]
li2[1] = 4

In [103]:
print(li)
print(li2)

[3, 3, 4]
[3, 4, 4]

In [105]:
def increment(li):
#     li[0] = li[0] + 2
    li = [3, 3, 4]
    return li

li = [1, 2, 3, 4]

li = increment(li)
print(li)

[3, 3, 4]

In [108]:
def reverse_l(li):
    length = len(li)
    for i in range(length//2):
        li[length-i-1], li[i] = li[i], li[length-i-1]
    return li


li = [1, 2, 3, 4, 5, 6]
print(li)
reverse_l(li)
print(li)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [109]:
def reverse_l_2(li):
    length = len(li)
    for i in range(length//2):
        li[i], li[-i-1] = li[-i-1], li[i]
    return li


li = [1, 2, 3, 4, 5, 6]
print(li)
reverse_l(li)
print(li)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [110]:
li

[6, 5, 4, 3, 2, 1]

In [111]:
li[:1:-1]

[1, 2, 3, 4]

In [112]:
li[3:1:-1]

[3, 4]

In [113]:
li[3::-1]

[3, 4, 5, 6]

In [114]:
li[::-1]

[1, 2, 3, 4, 5, 6]

In [115]:
li = [1, 2, 3, 4, 5, 6]

In [116]:
li[::-1]

[6, 5, 4, 3, 2, 1]

In [134]:
binary_search(a, ele)

4

### Selection Sort