In [1]:
a = (1, 2, 3)
b = 4, 5

In [2]:
a

(1, 2, 3)

In [3]:
b

(4, 5)

In [5]:
# for loops
for i in a:
    print(i)

1
2
3

In [6]:
1 in a

True

In [7]:
1 in b

False

In [8]:
len(a)

3

In [9]:
c = a + b

In [10]:
c

(1, 2, 3, 4, 5)

In [11]:
d = (a, b)

In [12]:
d

((1, 2, 3), (4, 5))

In [13]:
e = a * 4

In [14]:
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [15]:
max(a)

3

In [16]:
max(e)

3

In [17]:
a2 = (1, 2, "a", (1, 2))

In [18]:
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
a3 = (1, 2.2)

In [20]:
min(a3)

1

In [21]:
# list of tuple
l = [1, 2, 3, 4]
tuple(l)

(1, 2, 3, 4)

In [22]:
def sum_1(a, b, c=0, d=0, e=0):
    return a + b + c + d + e

In [23]:
sum_1(1, 2, 3, 4, 5)

15

In [24]:
def sum_2(a, b, *more):
    print(a)
    print(b)
    print(type(more))
    ans = a + b
    for i in more:
        ans += i
    return ans

In [25]:
sum_2(2, 3, 4, 5)

2
3
<class 'tuple'>

14

In [28]:
def sum_diff(a, b):
    return a + b, a - b, a * b

In [29]:
c = sum_diff(4, 1)
c

(5, 3, 4)

In [30]:
a, b, d = sum_diff(4, 1)

In [31]:
print(a, b, d)

5 3 4

 ### Dictionaries

In [32]:
a = {}

In [33]:
type(a)

dict

In [34]:
a = {
    "the": 1,
    "a": 5,
    1000: "abc"
}

In [35]:
print(a)

{'the': 1, 'a': 5, 1000: 'abc'}

In [36]:
b = a.copy()

In [37]:
b

{'the': 1, 'a': 5, 1000: 'abc'}

In [39]:
c = dict([("the", 3), ("a", 10), (2, 3)])

In [40]:
c

{'the': 3, 'a': 10, 2: 3}

In [41]:
d = dict.fromkeys(["abc", 32, 4])

In [42]:
d

{'abc': None, 32: None, 4: None}

In [43]:
d = dict.fromkeys(["abc", 32, 4], 10)

In [44]:
d

{'abc': 10, 32: 10, 4: 10}

In [45]:
a = {1:2, 3:4, "list": [1, 23], "dict": {1:2}}

In [46]:
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}}

In [47]:
a[1]

2

In [48]:
a[3]

4

In [49]:
a['list']

[1, 23]

In [51]:
a.get("list")

[1, 23]

In [52]:
a.get(1)

2

In [53]:
print(a.get("li"))

None

In [54]:
print(a.get("li", 0))

0

In [55]:
a.keys()

dict_keys([1, 3, 'list', 'dict'])

In [56]:
a.values()

dict_values([2, 4, [1, 23], {1: 2}])

In [58]:
a.items()

dict_items([(1, 2), (3, 4), ('list', [1, 23]), ('dict', {1: 2})])

In [61]:
for i in a:
    print(i, a[i])

1 2
3 4
list [1, 23]
dict {1: 2}

In [62]:
for i in a.values():
    print(i)

2
4
[1, 23]
{1: 2}

In [63]:
for i in a.items():
    print(i)

(1, 2)
(3, 4)
('list', [1, 23])
('dict', {1: 2})

In [64]:
"list" in a

True

In [65]:
"li" in a

False

In [66]:
2 in a

False

In [67]:
a['t'] = (1, 2, 3)

In [68]:
a

{1: 2, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 't': (1, 2, 3)}

In [69]:
a[1] = 10

In [70]:
a

{1: 10, 3: 4, 'list': [1, 23], 'dict': {1: 2}, 't': (1, 2, 3)}

In [71]:
b = {3:5, 'the': 4, 2:100}

In [72]:
a.update(b)

In [73]:
a

{1: 10,
 3: 5,
 'list': [1, 23],
 'dict': {1: 2},
 't': (1, 2, 3),
 'the': 4,
 2: 100}

In [74]:
a.pop('t')

(1, 2, 3)

In [75]:
a

{1: 10, 3: 5, 'list': [1, 23], 'dict': {1: 2}, 'the': 4, 2: 100}

In [76]:
del a[1]

In [77]:
a

{3: 5, 'list': [1, 23], 'dict': {1: 2}, 'the': 4, 2: 100}

In [78]:
a.clear()

In [79]:
a

{}

In [80]:
a

{}

In [81]:
del a

In [83]:
a

NameError: name 'a' is not defined

### Print all the words with freq k

In [85]:
s = "this is a word string having many many word"
k = 2

In [86]:
words = s.split()

In [87]:
words

['this', 'is', 'a', 'word', 'string', 'having', 'many', 'many', 'word']

In [88]:
d = {}
for w in words:
    if w in d:
        d[w] = d[w] + 1
    else:
        d[w] = 1

d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [89]:
d = {}
for w in words:
    d[w] = d.get(w, 0) + 1
d

{'this': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [91]:
for w in d:
    if d[w] == k:
        print(w)

word
many

In [94]:
def print_k_freq_words(s, k):
    words = s.split()
    d = {}
    for w in words:
        d[w] = d.get(w, 0) + 1
    
    for w in d:
        if d[w] == k:
            print(w)

In [95]:
print_k_freq_words(s, 2)

word
many

In [97]:
print_k_freq_words(s, 3)

### Sets

In [98]:
a = {"apple", "abc", 23}

In [99]:
type(a)

set

In [100]:
a

{23, 'abc', 'apple'}

In [101]:
a[0]

TypeError: 'set' object is not subscriptable

In [102]:
a["abc"]

TypeError: 'set' object is not subscriptable

In [103]:
'abc' in a

True

In [104]:
21 in a

False

In [105]:
for v in a:
    print(v)

apple
abc
23

In [106]:
len(a)

3

In [107]:
a.add("temp")

In [108]:
a

{23, 'abc', 'apple', 'temp'}

In [109]:
b = {"abc", "ghi"}

In [110]:
a.update(b)

In [111]:
a

{23, 'abc', 'apple', 'ghi', 'temp'}

In [112]:
a.remove("temp")

In [113]:
a

{23, 'abc', 'apple', 'ghi'}

In [114]:
a.remove('rrr')

KeyError: 'rrr'

In [115]:
a.discard(23)

In [116]:
a

{'abc', 'apple', 'ghi'}

In [117]:
a.discard('rrr')

In [118]:
a.pop()

'abc'

In [119]:
a

{'apple', 'ghi'}

In [120]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [122]:
a.intersection(b)

{3, 4}

In [123]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [124]:
b.difference(a)

{5, 6}

In [125]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [126]:
a

{1, 2, 3, 4}

In [127]:
a.intersection_update(b)

In [128]:
a

{3, 4}

In [129]:
a = {1, 2, 3, 4, 5, 6}

In [130]:
b = {12, 2,3, 3}

In [131]:
a | b

{1, 2, 3, 4, 5, 6, 12}

In [132]:
a & b

{2, 3}

In [134]:
a - b

{1, 4, 5, 6}

In [135]:
a.difference_update(b)

In [136]:
a

{1, 4, 5, 6}

In [138]:
a.symmetric_difference_update(b)

In [139]:
a

{1, 2, 3, 4, 5, 6, 12}

In [141]:
a.union_update(b)

AttributeError: 'set' object has no attribute 'union_update'

In [142]:
a

{1, 2, 3, 4, 5, 6, 12}

In [143]:
b

{2, 3, 12}

In [144]:
a.issubset(b)

False

In [145]:
b.issubset(a)

True

In [146]:
c = {3, 4}

In [147]:
a.issubset(c)

False

In [148]:
c.issubset(a)

True

In [150]:
a.issuperset(c)

True

In [151]:
a.isdisjoint(b)

False

In [152]:
d = {7, 8}

In [153]:
a.isdisjoint(d)

True

In [154]:
def sum_unique(l):
    s = set()
    for i in l:
        s.add(i)
    sum = 0
    for i in s:
        sum += i
    return sum

In [155]:
sum_unique([2, 2, 2, 2, 3, 4,1])

10

In [156]:
def sum_unique(l):
    return sum(set(l))

In [157]:
sum_unique([1, 2, 2,1 ,1 ])

3