<a href="https://colab.research.google.com/github/Ajay-2007/Python3_Deep_Dive/blob/master/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 s = "abcd"

 for c in s:
   print(c)

a
b
c
d

In [3]:
# print num from 1 to n
# giving all three values to range
n = int(input())

for i in range(1, n + 1, 1):
  print(i)

4
1
2
3
4

In [4]:
# print num from 1 to n
# only one value to range and it uses it as stop and be default 0 for start and 1 for step
n = int(input())

for i in range(n + 1):
  print(i)

4
0
1
2
3
4

In [6]:
# print num from 1 to n
# only two value to range and it uses the first argument as start and second as stop and step is by default 1
n = int(input())

for i in range(1, n + 1):
  print(i)

4
1
2
3
4

In [7]:
# numbers from n to 1
n = int(input())
for i in range(n, 1, -1):
  print(i)

4
4
3
2

In [8]:
# numbers from n to 1
n = int(input())
for i in range(n, 0, -1):
  print(i)

4
4
3
2
1

In [14]:
# a < b

a = int(input())
b = int(input())

for i in range(a, b + 1, 1):
  if i % 3 == 0:
    print(i)

1
10
3
6
9

In [16]:
# a < b
a = int(input())
b = int(input())

if a % 3 == 0:
  s = a
elif a % 3 == 1:
  s = a + 2
else:
  s = a + 1

for i in range(s, b + 1, 3):
  print(i)

7
100
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [20]:
n = int(input())

flag = False
for d in range(2, n, 1):
  if n % d == 0:
    flag = True

if flag:
  print("not prime")
else:
  print("prime")

7
prime

In [25]:
n = int(input())

for i in range(1, n+1, 1):
  spaces = " " * (n - i)
  string = ""
  for j in range(i, 2*i, 1):
    string += str(j)
  
  for k in range(2*i - 2, i-1, -1):
    string += str(k)
  
  print(spaces + string)

4
   1
  232
 34543
4567654

In [27]:
n = int(input())
for i in range(1, n + 1, 1):
  for s in range(n - i):
    print(" ", end="")
  for j in range(i, 2 * i, 1):
    print(j, end="")
  for j in range(2*i - 2, i - 1, -1):
    print(j, end="")
  print()

4
   1
  232
 34543
4567654

In [29]:
i = 1
while i < 10:
  if i == 5:
    break
  print(i)
  i = i + 1

1
2
3
4

# Break

In [37]:
n = int(input())
d = 2
flag = False

while d < n:
  if n % d == 0:
    flag = True
    break
  d = d + 1

if flag:
  print("not prime")
else:
  print("prime")

12345678
not prime

In [38]:
n = int(input())
flag = False

for d in range(2, n, 1):
  if n % d == 0:
    flag = True
    break
  
if flag:
  print("not prime")
else:
  print("prime")

10
not prime

In [39]:
n = int(input())
k = 2
while k <= n:
  d = 2
  flag = False
  while d < k:
    if k % d == 0:
      flag = True
      break
    d = d + 1
  if (not(flag)):
    print(k)
  k = k + 1

10
2
3
5
7

# ELSE with Keyword

In [40]:
i = 1
while i < 10:
  print(i)
  i = i + 1
else:
  print("this will be printed once at the end")

1
2
3
4
5
6
7
8
9
this will be printed once at the end

In [42]:
for i in range(1, 10):
  print(i)
else:
  print("this will also be printed once at the end")

1
2
3
4
5
6
7
8
9
this will also be printed once at the end

In [43]:
for i in range(1, 10):
  if i == 5:
    break 
  print(i)
else:
  print("this will also be printed once at the end")

1
2
3
4

In [45]:
n = int(input())
for d in range(2, n, 1):
  if n % d == 0:
    break
else:
  print("prime number")

13
prime number

# `continue` keyword

In [48]:
n = int(input())
for i in range(2, n + 1, 2):
  if i % 7 == 0:
    continue
  print(i)

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

In [50]:
n = int(input())
for i in range(2, n + 1, 2):
  print(i)
  if i % 7 == 0:
    continue
  print(i)

100
2
2
4
4
6
6
8
8
10
10
12
12
14
16
16
18
18
20
20
22
22
24
24
26
26
28
30
30
32
32
34
34
36
36
38
38
40
40
42
44
44
46
46
48
48
50
50
52
52
54
54
56
58
58
60
60
62
62
64
64
66
66
68
68
70
72
72
74
74
76
76
78
78
80
80
82
82
84
86
86
88
88
90
90
92
92
94
94
96
96
98
100
100

In [54]:
n = int(input())
i = 2
while i <= n:
  if i % 7 == 0:
    i = i + 2
    continue
  print(i)
  i = i + 2

100
2
4
6
8
10
12
16
18
20
22
24
26
30
32
34
36
38
40
44
46
48
50
52
54
58
60
62
64
66
68
72
74
76
78
80
82
86
88
90
92
94
96
100

# `pass` Keyword

In [57]:
i = 3
if i < 7:
  pass

print("hey")

hey

In [59]:
i = 1
while i <= 3:
  pass
  i = i + 1
print("end")

end

In [60]:
for i in range(1, 4):
  pass

print("end")

end